[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinxy = {editable = true, path = "."}
myst-parser = "*"
sphinx = "*"
sphinx-autobuild = "*"
furo = "*"
sphinxcontrib-confluencebuilder = "*"
sphinx-multiversion = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
